.container {
    margin: 2em;
    
}
.card{
    margin: 1em;
    background-color: blanchedalmond;
    border-radius: 10%;
}
body {
background-color: olivedrab;
}
.card mb-3 {
    background-color: olivedrab;
}
.list-group-item
{
    background-color: blanchedalmond;
}